@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Milkyway';
    src: url('/fonts/milkyway.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-outfit: 'Outfit', sans-serif;
    --font-lexend: 'Lexend', sans-serif;
}

body {
    font-family: var(--font-outfit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-lexend);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
    /* Adjusted speed (20s) */
}

@media (min-width: 768px) {
    .animate-scroll {
        animation: scroll 30s linear infinite;
        /* Slower on desktop */
    }
}

.animate-scroll:hover {
    animation-play-state: paused;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fade-in-left {
    animation: fadeInLeft 0.8s ease-out forwards;
}

.animate-fade-in-right {
    animation: fadeInRight 0.8s ease-out 0.2s forwards;
    opacity: 0;
}


@theme {
    --font-outfit: var(--font-outfit);
    --font-lexend: var(--font-lexend);
    --font-dm-serif: var(--font-dm-serif);
    --font-titan-one: var(--font-titan-one);
    --font-milkyway: 'Milkyway', sans-serif;
    --animate-marquee: marquee 150s linear infinite;
    --animate-marquee2: marquee2 150s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-100%);
        }
    }

    @keyframes marquee2 {
        0% {
            transform: translateX(100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}